@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import '~vue-single-date-picker/dist/vue-single-date-picker.css';


/*-----------------------------------------------------------------------------
[ISM] Screen Stylesheet

version:   1.0
date:      01/03/07
author:    [Success Ahon]
email:     [successahon@gmail.com]

website:   [your domain]

version history: [location of file]
-----------------------------------------------------------------------------*/


/* Import other stylesheets
-----------------------------------------------------------------------------*/

/* Remove margin, padding and border from everything
-----------------------------------------------------------------------------*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --main-font: 'Montserrat';
    --primary-font-color:#DFD291;
    --secondary-font-color: #002A06  ;
    --primary-btn: #008E3A;
    --body-font-color: #515151;
    --admin-body-color: #F0F1F1;
}



body{
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat" !important;
}
p{
    font-family: "Montserrat" !important;
}

a{
    text-decoration: none !important;
}

a:hover{
    text-decoration: none !important;
}

.nav-link{
    font-weight: 500;
    font-family: var(--main-font);
}

.mx-auto .nav-item{
    padding: 0 1rem;
}


.ml-auto .nav-item{
    margin: 0 1rem;
}
.login-btn{
    background: transparent;
    padding: 0 1rem;
    border: 1px solid #002A06;
    border-radius: 5px;
}

.reg-btn{
    background-color: var(--primary-btn) !important;
    border: none !important;
    padding: 10px 30px !important;
    border-radius: 5px !important;
    color: #fff !important;
}
.reg-btn.nav-link{
    color: #fff !important;
}

.overlay{
    width: 100%; 
    height: 100%; 
    position: absolute; 
    background-color: var(--secondary-font-color); 
    opacity: 0.5;
}
.carousel-control{
    width: 100%;
    bottom: 0;
    position: absolute;
    padding: 10px 20px;
}
.carousel-control a{
    width: auto;
    height: auto;
    z-index: 2;
    position: relative;
    padding: 10px;
    
}


.carousel-txt{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
   
}
.carousel-txt h1{
    color: var(--primary-font-color) ;
    text-align: center;
    padding-bottom: 1rem;
}

.carousel-txt .reg-btn{
    color: #fff !important;
    padding: 1rem 1.5rem;
    font-weight: 600;
}

.mid-section{
    margin-top: 5rem;
    margin-bottom: 3.5rem;
    
}
.mid-section-text h2{
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;
}


.mid-section-text p{
    font-family: 'Montserrat';
    line-height: 2.5rem;
    letter-spacing: 3px;
    font-weight: 500;
    margin-top: 3rem;
    text-align: center;
    font-size: 18px;
}

.who-can-section{
    margin-top: 6rem;
    margin-bottom: 5rem;
}
.who-can-section h2{
    font-weight: 700;
}
.who-card{
    position: relative;
    box-shadow: 0px 4px 4px rgba(128, 128, 128, 0.25);
    margin-top: 3.5rem;
}

.who-card img{
    width: 70px;
    background-color: var(--primary-btn);
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%)
}

.who-card-inner{
    padding: 40px 30px 30px 20px;
}
.who-card-inner h3{
    padding-top: 1.5rem;
}

.who-card-inner p{
    line-height: 2rem;
    text-align: justify;
    padding-top: 1rem;
}
.who-card-inner a{
    color: var(--primary-btn);
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.who-card-inner a:hover{
    text-decoration: none;
    color: var(--primary-font-color);
}

.video-section{
    background: url(/images/youtube-img.png) no-repeat;
    margin: 2.5rem auto;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsors{
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.sponsors h2{
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.pricing h2{
    font-weight: 700;
    margin-top: 5rem;
}
.pricing-header .pricing-amount{
    font-weight: 600;
    font-size: 36px;
    color: var(--primary-btn);
}
.footer{
    margin-top: 2rem;
    background: url(/images/footer-img-1.png) no-repeat;
    width: 100%;
    padding: 30px;
}
.footer-inner{
  color: var(--primary-font-color);
}
.footer-end{
    display: flex;
    justify-content: space-between;
}
.footer-end-right{
    display: flex;
    justify-content: space-evenly;
}
.footer-end-right img{
    width: 30px;
    height: 30px;
}
.footer-end-right p{
    padding-left: 15px;
}

/* registration page */

.register-section{
  display: flex;
  width: 100%;
  max-width: 100%;
  overflow: hidden;

}

.img-side{
    background-image: linear-gradient(to bottom, rgba(0, 42, 6, 0.76), rgba(0, 42, 6, 0.76)), url(/images/register-image-1.png);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-font-color);
}
.header-logo{
    margin-top: 1.5rem;
}
.img-side h2{
    font-family: "Montserrat";
    letter-spacing: 2px;
    font-size: 2.5rem !important;
}

.form-side{
    width: 50%;
    height: 100vh;
    
}
.form-side h2{
    font-family: 'Montserrat';
    margin-top: 2.5rem;
}
.form-side form{
    margin-top: 2.5rem;
}

.form-side label{
    font-family: "Montserrat";
    font-weight: 500;
}
.form-group{
    margin: 15px 20px;
}


.form-side .form-control{
    padding: 20px 15px !important;
    border: 1px solid #c4c4c4 !important;
}

.custom-control{
    padding-left: 2.7rem !important;
}
form .reg-btn{
    margin-left: 1.2rem;
    margin-top: 1rem;
    font-weight: 600;
    padding: 10px 40px;
}
.form-txt{
    margin-left: 1.2rem;
}

/* main-login */

.main-login{
    background-image: linear-gradient(to bottom, rgba(0, 42, 6, 0.76), rgba(0, 42, 6, 0.76)), url(/images/login-bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    padding-top: 1.5rem;
}
.main-login h2{
    color: var(--primary-font-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-card{
    height: 90vh;
}

.login-tabs .nav-tabs{
    justify-content: space-evenly !important;
    border-bottom: 1px solid #c4c4c4 !important;

}
.login-tabs .nav-tabs .nav-link.active {
    /* color: #495057; */
    color: #008E3A !important;
    background-color: #fff !important;
    border-bottom: 2px solid !important;
    
}
.assessment .nav-tabs {
    border-bottom: 1px solid #dee2e6 !important;
    justify-content: space-around !important;
    padding-top: 15px !important;
}
.assessment .nav-tabs .nav-link.active {
    color: #0A4065 !important;
    background-color: rgba(34, 202, 222, 0.20) !important;
    border-radius: 20px !important;
    /* padding: 10px 20px !important; */
    
}

.nav-tabs .nav-link {
    border: none !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    color:  rgba(0, 0, 0, 0.7) ;
}
.nav-tabs .nav-link:focus {
    outline: none;
}

.login-form .form-group >legend{
    font-family: "Montserrat";
    font-weight: 500;
}

.login-form .form-control{
    padding: 25px 15px !important;
    border: 1px solid #c4c4c4 !important;
}

.login-form .reg-btn{
    margin-left: 0;
    margin-top: 3rem;
    width: 100%;
}

.login-form .reg-btn:focus{
    outline: none;
}
.login-form a{
    display: flex;
    justify-content: center;
}
.login-form .form-group{
    margin-top: 2rem;
}
/* Dont touch */

.back{
    position: absolute;
    top:20px;
    left: 15px;
}
.slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
   {
    transform: translateX(10px);
    opacity: 0;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to  {
    opacity: 0;
  }

  .toCaps{
      text-transform: capitalize;
  }
  
  .w-70{
    width: 70% !important;
    }
    .w-30{
    width: 30% !important;
    }

    .body{
        padding:50px 20px 70px;
        position: relative;
        min-height: 100%;
      
    }

    /* student-dashboard */
 .student-assessment .nav-tabs {
    border-bottom: none;
    justify-content: space-around !important;
   
}
.student-assessment .nav-tabs .nav-link.active {
    color: #ffd708 !important;
    background-color: rgba(255, 215, 8, 0.18) !important;
    border-radius: 20px !important;
    padding: 10px 20px !important;
    
}


/* admin dashboard  */


.admin-dashboard-logo{
    background-color: var(--primary-btn) ;
    font-family: "Montserrat";
    color: #fff;
}

.dashboard-brand h3{
    margin-bottom: 0;
}
.dashboard-brand p{
    margin-bottom: 0;
}
.admin-dashboard-nav{
    margin-top: 3rem;
}
.admin-dashboard-nav a{
    display: flex;
    color: #f7f8fa ;
    font-family: "Montserrat";
    padding: .2rem;
    padding-left: 1rem;  
    
}
/* .admin-dashboard-nav .router-link-active{
  color: var(--primary-btn) !important;
  border-right: 1px solid var(--primary-btn);
   
    
} */
.admin-dashboard-nav span{
    font-size: 22px;
}
.admin-dashboard-nav li{
    list-style: none;
    padding-top: .5rem;
    padding-left: 1rem;
}

.dashboard-top-nav .bg-info{
    background-color: var(--primary-btn) !important;
}
.dashboard-top-nav img{
    width: 20px;
    height: 20px;
    padding-top: 2px;

}

.dashboard-top-nav .form-control{
  background-color: rgba(128, 128, 128, 0.44);
    border: none !important;
}
.dashboard-top-nav .form-control::placeholder{
    color: #fff ;
    font-family: "Montserrat";
    padding: 10px;
}
.dashboard-top-nav .ml-auto .nav-item{
    margin: 0;
}

.dashboard-top-nav .ml-auto{
    padding-right: 20px;
}

.user-name h6{
    color: #fff;
    padding-top: 7px;
    padding-right: 5px;
}
.admin-dashboard-top-cards .card{
    box-shadow: 0px 4px 4px rgba(240, 241, 241, 0.25);
    border-radius: 15px;
    border: none;
    padding: 10px;
    margin: 10px 0;
}
.inner-top-cards{
    display: flex;
}
.inner-top-cards img{
    width: 50px;
    height: 50px;
    background-color: rgba(0, 142, 58, 0.4); 
    border-radius: 50%;
    padding: 10px;
}
.inner-top-cards-text p{
    margin-bottom: 0;
}
.chart{
margin: 1rem 0;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(240, 241, 241, 0.25);
border-radius: 15px;
padding: 15px;
}

.dashboard-bottom-cards .card{
    box-shadow: 0px 4px 4px rgba(240, 241, 241, 0.25);
    border-radius: 15px;
    height: 300px;
}

.bottom-card-details{
    display: flex;
    border-bottom: 1px solid #808080;
    padding: 10px 2px
}
.bottom-card-details:last-child{
    border-bottom: none;
}
.bottom-cards-text{
    padding-left: 10px;
    font-family: "Montserrat";
}
.bottom-cards-text p{
    margin-bottom: 0;
    font-weight: 600;
}
.bottom-cards-text span{
    font-size: 8px;
    background-color: rgba(128, 128, 128, 0.44);
    padding: 5px 10px;
    border-radius: 20px;
    position: absolute;
    right: 0;
    margin-right: 16px;
    font-weight: normal;
}
.bottom-card-link{
    cursor: pointer;
}

.note-card-top{
    display: flex;
    justify-content: space-between;
}
.note-card-top .btn-outline-primary {
    color: var(--primary-btn);
    border-color: var(--primary-btn);
}
.note-card-top .btn-outline-primary:hover{
    background-color: var(--primary-btn) !important;
    color: #fff;
    border-color: var(--primary-btn);
}
.notification-side{
    background-color: #fff;
    height: 100vh;
    position: fixed !important;
    right: 0;
}
.dashboard-content-side{
    padding-right: 1.5rem !important;
    padding-left: 0 !important;
    padding-top: 15px;
}
.table-side{
    padding-top: 50px;
    padding-right: 1rem;
}

.notify-side{
    padding-top: 20px;
}
.modal-footer{
    justify-content: center !important;
}
.modal-footer .btn-secondary{
    background: none !important;
    border: 1px solid var(--secondary-font-color) !important;
    padding: 5px 20px !important;
    color: var(--secondary-font-color) !important;
    font-family: "Montserrat";
}

.modal-footer .btn-primary{
    background-color: var(--primary-btn);
    padding: 5px 20px !important;
    font-family: "Montserrat";
    border: none;
    
}
table{
    font-size:15px;
    background:white;
}

.modal-body .form-group{
    margin: 0;
}
.sort-section{
    width: 100%;
    background-color: #fff;
    display: flex;
    box-shadow: 0px 4px 4px rgba(240, 241, 241, 0.25);
    padding: 1rem;
    margin-right: 10px;
}
/* teacher dashboard  */
.year-month-wrapper, .nav-l, .nav-r{
    background-color: #0A4065 !important;
}
.okButton{
    color: #0A4065 !important ;
}
.days, .port:hover{
    color: #22CADE !important;
}
.activePort, .activePort:hover{
    background-color: #22CADE !important;
    color: white;
}
.port{
    border-radius: 50% !important;
}
.calender-div{
    border-radius: 10px;
}
#tj-datetime-input{
    display: inline-block !important;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 1.75rem 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      vertical-align: middle;
      background: #fff;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
  }
legend{
    font-family: "Montserrat";
    font-weight: 500;
}

.cpointer{
    cursor: pointer;
}

.options {
    position: relative;
     list-style: none;
  }
  .option {
    display: none;
    position: absolute;

    bottom: 80%;
    width: 100px;
    right: 60px;
    background: white;
  }
  .options:hover .option {
    display: block;
  }
  .option li {
    padding: 4px 15px;
    cursor: pointer;
    font-size: 14px;
  }
  .option ul{
      list-style: none;
  }
  /* .nav-link {
    color: #000 !important;
  } */

  .bd-table {
    position: relative;
    padding: 1rem;
    margin: 1rem -15px 0;
    border: solid #f8f9fa;
    border-width: .2rem 0 0;
    background-color: #fff;
}
.thead-darkgreen{
    color: white;
    background-color: rgba(19, 166, 153, 0.9);
    border-color: rgba(19, 166, 153, 0.9);
}

.thead-darkblue{
    color: white;
    background-color:#0a4065;
    border-color: #0a4065;
}
   .dropdown a{
    color: black !important;
  }
  .dropdown-toggle::after {
    display: inline-block;
    font-family: "FontAwesome";
    /* font-weight: 500; */
    margin-left: 0 !important;
    vertical-align: 0 !important;
    content: "\f078" !important;
    border-top: none !important;
    border-right: none !important;
    border-bottom: 0 !important;
    border-left: none !important;
    padding-left: 5px;
    padding-top: 2px;
}
  /*
  .navbar-dark .navbar-nav{
      color: black !important;
  } */

/* * {
    margin: 0;
    padding: 0;
    border: 0;
}



.clear {
    clear: both;
}



.right {
    float: right;
}



.left {
    float: left;
}


html {
    scroll-behavior: smooth;
    transition: all .6s;
}

body {
    font: 62.5%/1.5 "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
    color: #000000;
    text-align: center;
    transition: all .5s;
    overflow: scroll;

    height: 100%;
    min-height: 100%;
}



#wrapper {
    width: 980px;
   
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
}




h1 {
    font-size: 2.2em;
   
}

h2 {
    font-size: 2.0em;
   
}

h3 {
    font-size: 1.8em;
   
}

h4 {
    font-size: 1.6em;
 
}

h5 {
    font-size: 1.4em;
   
}

p,
q,
cite {
    font-size: 1.2em;
   
}

ul,
ol,
dl {
    list-style: none;
    font-size: 1.2em;
   
}

li,
dd,
dt {
    font-size: 1.2em;
 
}

.josefin {
    font-family: 'Josefin Sans';
    font-weight:300;
}
.josefin_bold {
    font-family: 'Josefin Sans';
    font-weight:400;
}

a {
    text-decoration: none;
    cursor: pointer;
}



.mc1 {
    color: #006600;
}

.mc2 {
    color: #338433;
}

.mc3 {
    color: #99cc99;
}
.mc-dark{
    color: #333333;
}
.sc1 {
    color: #335b84;
}

.sc2 {
    color: #476b90;
}

.sc3 {
    color: #99adc1;
}
.text-yellow{
    color: yellow;
}
.bg1-dark {
    background-color: #006600 !important;
}
.bg1-dark:hover {
    background-color: #669f66 !important;
}

.bg1-light {
    background-color: #669f66;
}
.sec_color{
    color :#333333 !important;
}
.pry_color{
    color: #5fa1ac !important;
}
.w-0 {
    width: 0;
}



input.text {
    padding: 3px;
    border: 1px solid #999999;
}


table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    text-align: left;
    font-weight: normal;
}

.abs_pos {
    position: absolute !important;
}

.rel_pos {
    position: relative !important;
}

.top-0 {
    top: 0
}

.bottom-0 {
    bottom: 0;
}

.right-0 {
    right: 0;
}

.left-0 {
    left: 0;
}
.header {
    position: relative;
    font-weight: bold;
    
  }
  .header::after {
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 20px;
    position: absolute;
    bottom: -6px;
    left: 20%;
  }
  .main_header{
  color: rgba(0, 0, 0, 0.64);
  font-size: 2em;
  font-weight: 300;
  position: relative;
  }
  .main_header::after{
    content: '';
    border-bottom: 2px solid #006600;
    width: 50px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 0;
  }
  .center_header{
    color: rgba(0, 0, 0, 0.64);
    font-size: 2em;
    font-weight: 400;
    position: relative;
    }
    .center_header::after{
      content: '';
      border-bottom: 3px solid #006600;
      width: 50px;
      height: 5px;
      position: absolute;
      bottom: -5px;
      left: 50%;
      margin-left: -25px;
    }
  

    
@media(max-width:425px) {

    h1 {
        font-size: 2em !important;
        
    }

    h2 {
        font-size: 1.7em !important;
        
    }

    h3 {
        font-size: 1.5em !important;
        
    }

    h4 {
        font-size: 1.2em !important;
        
    }

    h5 {
        font-size: 1em !important;
        
    }

    .header {
        position: relative;
    }

    .header::after {
        content: "";
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        width: 65%;
        height: 20px;
        position: absolute;
        bottom: -6px;
        left: 35%;
    }
} */

/* 
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot');
    src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
      url('../fonts/icomoon.ttf') format('truetype'),
      url('../fonts/icomoon.woff') format('woff'),
      url('../fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    /* font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none; */
    
  
    /* Better Font Rendering =========== */
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-admin:before {
    content: "\e900";
  }
  .icon-calendar:before {
    content: "\e901";
  }
  .icon-cancel:before {
    content: "\e902";
  }
  .icon-dashboard:before {
    content: "\e903";
  }
  .icon-down-chevron:before {
    content: "\e904";
  }
  .icon-edit:before {
    content: "\e905";
  }
  .icon-education:before {
    content: "\e906";
  }
  .icon-logout:before {
    content: "\e907";
  }
  .icon-sort:before {
    content: "\e908";
  }
  .icon-students:before {
    content: "\e909";
  }
  .icon-teacher:before {
    content: "\e90a";
  }
  .icon-visibility:before {
    content: "\e90b";
  }
  .icon-visibility-open:before {
    content: "\e90c";
  } */ 
  @font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot');
    src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
      url('../fonts/icomoon.ttf') format('truetype'),
      url('../fonts/icomoon.woff') format('woff'),
      url('../fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
   
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-admin:before {
    content: "\e90d";
    
  }
  .icon-calendar:before {
    content: "\e90e";

  }
  .icon-cancel:before {
    content: "\e90f";
    
  }
  .icon-dashboard1:before {
    content: "\e910";
    
  }
  .icon-down-chevron:before {
    content: "\e911";
    
  }
  .icon-edit:before {
    content: "\e912";
    
  }
  .icon-education:before {
    content: "\e913";
    
  }
  .icon-logout:before {
    content: "\e914";
    
  }
  .icon-sort:before {
    content: "\e915";
    
  }
  .icon-students:before {
    content: "\e916";
    
  }
  .icon-teacher:before {
    content: "\e917";
    
  }
  .icon-visibility:before {
    content: "\e918";
    
  }
  .icon-visibility-open:before {
    content: "\e919";
    
  }
  .icon-business-class:before {
    content: "\e900";
  }
  .icon-market:before {
    content: "\e901";
  }
  .icon-score:before {
    content: "\e902";
  }
  .icon-group-2:before {
    content: "\e903";
  }
  .icon-clock:before {
    content: "\e904";
  }
  .icon-group-1:before {
    content: "\e905";
  }
  .icon-group:before {
    content: "\e906";
  }
  .icon-bell-1:before {
    content: "\e907";
  }
  .icon-open-book:before {
    content: "\e908";
  }
  .icon-hour:before {
    content: "\e909";
  }
  .icon-refresh:before {
    content: "\e90a";
  }
  .icon-home-1:before {
    content: "\e90b";
  }
  .icon-dashboard:before {
    content: "\e90c";
  }
  
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
 .hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger.is-active:hover {
    opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #333;
}


.hamburger-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 20px;
    height: 3px;
    background-color: #333;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}


/*
     * Collapse
     */
.hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
     * Collapse Reverse
     */
.hamburger--collapse-r .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse-r .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse-r.is-active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
     * Elastic
     */
.hamburger--elastic .hamburger-inner {
    top: 2px;
    transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(135deg);
    transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.075s;
}

/*
     * Elastic Reverse
     */
.hamburger--elastic-r .hamburger-inner {
    top: 2px;
    transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic-r .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic-r .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic-r.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(-135deg);
    transition-delay: 0.075s;
}

.hamburger--elastic-r.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0;
}

.hamburger--elastic-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(270deg);
    transition-delay: 0.075s;
}
